<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.emftext.language.java.jtemplates.resource.javatemplate.default_load_options">
      <provider
            class="org.emftext.language.java_templates.resource.util.Java_templatePostProcessor"
            id="org.emftext.language.java_templates.resource.util.Java_templatePostProcessor">
      </provider>
   </extension>

   <extension
         point="org.emftext.language.java.jtemplates.resource.javatemplate.default_load_options">
      <provider
            class="org.emftext.language.java_templates.resource.util.UnicodeConverterProvider"
            id="org.emftext.language.java_templates.resource.util.UnicodeConverterProvider">
      </provider>
   </extension>

   
</plugin>
