<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/class_diagramm_tgg_rule"
            class="org.emftext.language.class_diagramm_tgg_rule.class_diagramm_tgg_rulePackage"
            genModel="metamodel/class_diagramm_tgg_rule.genmodel"/>
   </extension>

</plugin>
