<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.code_completion.resource.cct.CctResourceFactory" type="cct">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.emftext.org/test/code_completion" csName="cct" csDefinition="org.emftext.test.code_completion/metamodel/code_completion.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="cct">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.test.code_completion.resource.cct.CctNewFileWizard" id="org.emftext.test.code_completion.resource.cct.CctNewFileWizard" name="EMFText .cct file">
		</wizard>
	</extension>
	
</plugin>
