<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.sdk.ui.generateresourcecontributor"
            nameFilter="*.cs*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateResourcePluginAction"
               enablesFor="1"
               id="org.emftext.sdk.ui.actions.generateresourceaction"
               label="Generate Text Resource"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generatesyntax"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.emftext.ui.generatesyntaxactions"
               label="Generate Syntax"
               path="additions">
         </menu>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generatehutncontributor"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateHUTNAction"
               enablesFor="1"
               id="org.emftext.ui.actions.generatehutnaction"
               label="HUTN Syntax"
               menubarPath="org.emftext.ui.generatesyntaxactions/additions"/>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generatejavastylecontributor"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateJavaStyleSyntaxAction"
               enablesFor="1"
               id="org.emftext.ui.actions.generatejavastyleaction"
               label="Java-like Syntax"
               menubarPath="org.emftext.ui.generatesyntaxactions/additions"/>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generatecustomstylecontributor"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateCustomSyntaxAction"
               enablesFor="1"
               id="org.emftext.ui.actions.generatecustomstylecontributor"
               label="Custom Syntax"
               menubarPath="org.emftext.ui.generatesyntaxactions/additions"/>
      </objectContribution>
   </extension>

<!--
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generate_all_contributor"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.emftext.sdk.ui.actions.GenerateAllAction"
               enablesFor="*"
               id="org.emftext.ui.actions.generate_all_contributor"
               label="Generate All (EMFText)"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
-->

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="EMFText"
            id="org.emftext.sdk.ui.emftext_category">
      </category>
      <wizard
            category="org.emftext.sdk.ui.emftext_category"
            class="org.emftext.sdk.ui.wizards.NewProjectWizard"
            icon="icons/new_project.gif"
            id="org.emftext.sdk.ui.emftext_category.NewProjectWizard"
            name="EMFText Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="All commands belonging to EMFText"
            id="org.emftext.sdk.command.category"
            name="EMFText">
      </category>
      <command
            categoryId="org.emftext.sdk.command.category"
            description="Generates all language resources in the current selection"
            id="org.emftext.sdk.command.generateAll"
            name="Generate All">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.emftext.sdk.ui.handlers.GenerateAllHandler"
            commandId="org.emftext.sdk.command.generateAll">
         <enabledWhen>
            <iterate>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
                  <adapt
                        type="org.eclipse.ui.IWorkingSet">
                  </adapt>
               </or></iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.emftext.sdk.command.generateAll"
               label="Generate All (EMFText)"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
