<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.language.ecoredoc.ui.extractdocumentation"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.language.emfdoc.ui.ExtractDocumentationAction"
               enablesFor="1"
               id="org.emftext.language.ecoredoc.ui.extractdocumentation.action"
               label="Extract documentation to .emfdoc file"
               icon="icons/extract.gif" 
               menubarPath="additions"/>
      </objectContribution>
   </extension>

</plugin>
