<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/test/code_completion"
            class="org.emftext.test.code_completion.Code_completionPackage"
            genModel="metamodel/code_completion.genmodel"/>
   </extension>

</plugin>
