<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.lwc11.resource.lwc11.mopp.Lwc11MetaInformation" id="org.emftext.language.lwc11.resource.lwc11.mopp.Lwc11MetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.lwc11.resource.lwc11.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.lwc11.resource.lwc11.nature" name="lwc11 nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.lwc11.resource.lwc11.mopp.Lwc11Nature" />
		</runtime>
		<builder id="org.emftext.language.lwc11.resource.lwc11.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.lwc11.resource.lwc11.builder" name="lwc11 Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.lwc11.resource.lwc11.mopp.Lwc11BuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.lwc11.resource.lwc11.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.lwc11.resource.lwc11.mopp.Lwc11ResourceFactoryDelegator" type="lwc11">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.lwc11.resource.lwc11.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
