<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/calc"
            class="org.emftext.language.calc.CalcPackage"
            genModel="metamodel/calc.genmodel"/>
   </extension>

</plugin>
