<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
       point="org.eclipse.emf.ecore.factory_override">
    <factory
          class="org.emftext.language.ecore.resource.EcoreFactoryImpl"
          uri="http://www.eclipse.org/emf/2002/Ecore">
    </factory>
  </extension>

  <extension-point id="org.emftext.language.ecore.resource.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>

</plugin>
