<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java.jtemplates.resource.javatemplate.mopp.JavatemplateMetaInformation" id="org.emftext.language.java.jtemplates.resource.javatemplate.mopp.JavatemplateMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.jtemplates.resource.javatemplate.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.jtemplates.resource.javatemplate.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.jtemplates.resource.javatemplate.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.jtemplates.resource.javatemplate.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.jtemplates.resource.javatemplate.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.nature" name="javatemplate nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.java.jtemplates.resource.javatemplate.mopp.JavatemplateNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.java.jtemplates.resource.javatemplate.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.java.jtemplates.resource.javatemplate.builder" name="javatemplate Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.java.jtemplates.resource.javatemplate.mopp.JavatemplateBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.java.jtemplates.resource.javatemplate.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.jtemplates.resource.javatemplate.mopp.JavatemplateResourceFactoryDelegator" type="javatemplate">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.java.jtemplates.resource.javatemplate.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
