<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated issue50 -->
      <package
            uri="http://www.emftext.org/test/issue50"
            class="org.emftext.test.issue50.Issue50Package"
            genModel="metamodel/issue50.genmodel"/>
   </extension>

</plugin>
