<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrMetaInformation" id="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.regexp.resource.regexp_antlr.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.regexp.resource.regexp_antlr.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.regexp.resource.regexp_antlr.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.regexp.resource.regexp_antlr.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.regexp.resource.regexp_antlr.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_antlr.nature" name="regexp_antlr nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.regexp.resource.regexp_antlr.builder">
		</builder>
		<builder id="org.emftext.language.regexp.resource.regexp_antlr.taskItemBuilder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.regexp.resource.regexp_antlr.builder" name="regexp_antlr Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.regexp.resource.regexp_antlr.taskItemBuilder" name="regexp_antlr Task Item Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrTaskItemBuilder">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.regexp.resource.regexp_antlr.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.regexp.resource.regexp_antlr.mopp.Regexp_antlrResourceFactoryDelegator" type="regexp_antlr">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.regexp.resource.regexp_antlr.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
