<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.reuseware.emftextedit.sdk.ui.generateresourcecontributor"
            nameFilter="*.cs*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.reuseware.emftextedit.sdk.ui.actions.GenerateResourceAction"
               enablesFor="1"
               id="org.reuseware.emftextedit.sdk.ui.actions.generateresourceaction"
               label="Generate Text Resource"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.reuseware.emftextedit.ui.generatehutncontributor"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.reuseware.emftextedit.sdk.ui.actions.GenerateHUTNAction"
               enablesFor="1"
               id="org.reuseware.emftextedit.ui.actions.generatehtunaction"
               label="Generate HUTN Syntax"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.reuseware.emftextedit.sdk.ui.preferences.MainPreferencePage"
            id="org.reuseware.emftextedit.sdk.ui.preferences.main"
            name="EMFTextEdit SDK"/>
    </extension>
   <extension
         point="org.reuseware.emftextedit.runtime.ui.default_load_options">
      <provider
            class="org.reuseware.emftextedit.sdk.ui.DefaultOptionProvider"
            id="org.reuseware.emftextedit.sdk.ui.default_option_provider">
      </provider>
   </extension>
</plugin>
