<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.theater.resource.theater.mopp.TheaterMetaInformation" id="org.emftext.language.theater.resource.theater.mopp.TheaterMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.theater.resource.theater.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.theater.resource.theater.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.theater.resource.theater.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.theater.resource.theater.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.theater.resource.theater.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.nature" name="theater nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.theater.resource.theater.mopp.TheaterNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.theater.resource.theater.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.theater.resource.theater.builder" name="theater Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.theater.resource.theater.mopp.TheaterBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.theater.resource.theater.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.theater.resource.theater.mopp.TheaterResourceFactoryDelegator" type="theater">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.theater.resource.theater.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
