<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/1999/XSL/Format"
            class="org.emftext.language.apache.format.FopPackage"
            genModel="model/fop.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="fop"
            class="org.emftext.language.apache.format.util.FopResourceFactoryImpl"/>
   </extension>

</plugin>
