<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.language.formular.interpreter"
            nameFilter="*.formular*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.language.forms.interpreter.InterpreteFormAction"
               enablesFor="1"
               id="org.emftext.language.formular.interpreter.interpreteraction"
               label="Interprete form"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.language.forms.interpreter"
            nameFilter="*.forms*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.language.forms.interpreter.InterpreteFormAction"
               enablesFor="1"
               id="org.emftext.language.forms.interpreter.interpreteraction"
               label="Interprete form"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

</plugin>
