<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.webtest.resource.webtest.mopp.WebtestMetaInformation" id="org.emftext.language.webtest.resource.webtest.mopp.WebtestMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.webtest.resource.webtest.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.webtest.resource.webtest.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.webtest.resource.webtest.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.webtest.resource.webtest.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.webtest.resource.webtest.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.nature" name="webtest nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.webtest.resource.webtest.mopp.WebtestNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.webtest.resource.webtest.builder">
		</builder>
		<builder id="org.emftext.language.webtest.resource.webtest.taskItemBuilder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.webtest.resource.webtest.builder" name="webtest Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.webtest.resource.webtest.mopp.WebtestBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.webtest.resource.webtest.taskItemBuilder" name="webtest Task Item Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.webtest.resource.webtest.mopp.WebtestTaskItemBuilder">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.webtest.resource.webtest.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.webtest.resource.webtest.mopp.WebtestResourceFactoryDelegator" type="webtest">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.webtest.resource.webtest.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.language.webtest.resource.webtest.debug.WebtestLineBreakpoint" id="org.emftext.language.webtest.resource.webtest.debug.breakpoint" markerType="org.emftext.language.webtest.resource.webtest.debug.lineBreakpoint.marker" name="webtest Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.language.webtest.resource.webtest.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.language.webtest.resource.webtest.ui.launchConfigurationType" delegate="org.emftext.language.webtest.resource.webtest.launch.WebtestLaunchConfigurationDelegate" modes="run,debug" name="webtest Application" sourceLocatorId="org.emftext.language.webtest.resource.webtest.ui.sourceLocator" sourcePathComputerId="org.emftext.language.webtest.resource.webtest.ui.sourcePathComputer" delegateName="webtest Launch Tooling" delegateDescription="This will run or debug .webtest files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.language.webtest.resource.webtest.debug.WebtestSourcePathComputerDelegate" id="org.emftext.language.webtest.resource.webtest.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.language.webtest.resource.webtest.ui.sourceLocator" class="org.emftext.language.webtest.resource.webtest.debug.WebtestSourceLocator" name="webtest Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
