<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.multicharsuffix.resource.multicharsuffix.mopp.MulticharsuffixMetaInformation" id="org.emftext.test.multicharsuffix.resource.multicharsuffix.mopp.MulticharsuffixMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.multicharsuffix.resource.multicharsuffix.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.nature" name="multicharsuffix nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.test.multicharsuffix.resource.multicharsuffix.mopp.MulticharsuffixNature">
			</run>
		</runtime>
		<builder id="org.emftext.test.multicharsuffix.resource.multicharsuffix.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.test.multicharsuffix.resource.multicharsuffix.builder" name="multicharsuffix Builder">
		<builder hasNature="true">
			<run class="org.emftext.test.multicharsuffix.resource.multicharsuffix.mopp.MulticharsuffixBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.test.multicharsuffix.resource.multicharsuffix.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.multicharsuffix.resource.multicharsuffix.mopp.MulticharsuffixResourceFactoryDelegator" type="multicharsuffix">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.test.multicharsuffix.resource.multicharsuffix.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.MulticharsuffixLineBreakpoint" id="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.breakpoint" markerType="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.lineBreakpoint.marker" name="multicharsuffix Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.test.multicharsuffix.resource.multicharsuffix.ui.launchConfigurationType" delegate="org.emftext.test.multicharsuffix.resource.multicharsuffix.launch.MulticharsuffixLaunchConfigurationDelegate" modes="run,debug" name="multicharsuffix Application" sourceLocatorId="org.emftext.test.multicharsuffix.resource.multicharsuffix.ui.sourceLocator" sourcePathComputerId="org.emftext.test.multicharsuffix.resource.multicharsuffix.ui.sourcePathComputer" delegateName="multicharsuffix Launch Tooling" delegateDescription="This will run or debug .multicharsuffix files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.MulticharsuffixSourcePathComputerDelegate" id="org.emftext.test.multicharsuffix.resource.multicharsuffix.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.test.multicharsuffix.resource.multicharsuffix.ui.sourceLocator" class="org.emftext.test.multicharsuffix.resource.multicharsuffix.debug.MulticharsuffixSourceLocator" name="multicharsuffix Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
