<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.usecaseinvariant.resource.ucinv.default_load_options">
      <provider
            class="org.emftext.language.usecaseinvariant.resource.OCLPostProcessor"
            id="org.emftext.language.usecaseinvariant.resource.OCLPostProcessor">
      </provider>
   </extension>

</plugin>
