<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.mecore.resource.mecore.default_load_options">
      <provider
            class="org.emftext.language.mecore.postprocessing.MEcoreValidator"
            id="org.emftext.language.mecore.postprocessing.validator">
      </provider>
   </extension>

</plugin>
