<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/test/bug1233"
            class="org.emftext.test.bug1233.Bug1233Package"
            genModel="metamodel/bug1233.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/test/bug1233ext"
            class="org.emftext.test.bug1233ext.Bug1233extPackage"
            genModel="metamodel/bug1233ext.genmodel"/>
   </extension>

</plugin>
