<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetMetaInformation" id="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.petrinet.resource.petrinet.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.petrinet.resource.petrinet.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.petrinet.resource.petrinet.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.petrinet.resource.petrinet.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.petrinet.resource.petrinet.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.nature" name="petrinet nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.petrinet.resource.petrinet.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.petrinet.resource.petrinet.builder" name="petrinet Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.petrinet.resource.petrinet.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetResourceFactoryDelegator" type="petrinet">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.petrinet.resource.petrinet.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
