<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresResourceFactory" type="grammar_features">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresMetaInformation" id="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.grammar_features" name="EMFText grammar_features Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.grammar_features" file-extensions="grammar_features">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.test.grammar_features.resource.grammar_features.ui.Grammar_featuresEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.test.grammar_features.resource.grammar_features.ui.Grammar_featuresEditor" name="EMFText grammar_features Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.grammar_features" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.test.grammar_features.resource.grammar_features.ui.Grammar_featuresPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.test.grammar_features.resource.grammar_features.ui.Grammar_featuresNewFileWizard" id="org.emftext.test.grammar_features.resource.grammar_features.ui.Grammar_featuresNewFileWizard" name="EMFText .grammar_features file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.test.grammar_features.resource.grammar_features.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
