<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.pico.resource.pico.mopp.PicoMetaInformation" id="org.emftext.language.pico.resource.pico.mopp.PicoMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.pico.resource.pico.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.pico.resource.pico.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.pico.resource.pico.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.pico.resource.pico.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.pico.resource.pico.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.nature" name="pico nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.pico.resource.pico.mopp.PicoNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.pico.resource.pico.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.pico.resource.pico.builder" name="pico Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.pico.resource.pico.mopp.PicoBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.pico.resource.pico.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.pico.resource.pico.mopp.PicoResourceFactoryDelegator" type="pico">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.pico.resource.pico.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.language.pico.resource.pico.debug.PicoLineBreakpoint" id="org.emftext.language.pico.resource.pico.debug.breakpoint" markerType="org.emftext.language.pico.resource.pico.debug.lineBreakpoint.marker" name="pico Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.language.pico.resource.pico.ui.launchConfigurationType" delegate="org.emftext.language.pico.resource.pico.launch.PicoLaunchConfigurationDelegate" modes="run,debug" name="pico Application" sourceLocatorId="org.emftext.language.pico.resource.pico.ui.sourceLocator" sourcePathComputerId="org.emftext.language.pico.resource.pico.ui.sourcePathComputer" delegateName="pico Launch Tooling" delegateDescription="This will run or debug .pico files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.language.pico.resource.pico.debug.PicoSourcePathComputerDelegate" id="org.emftext.language.pico.resource.pico.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.language.pico.resource.pico.ui.sourceLocator" class="org.emftext.language.pico.resource.pico.debug.PicoSourceLocator" name="pico Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
