<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.reuseware.emftextedit.test.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
       <menu
               id="org.reuseware.emftextedit.test.menu1"
               label="EMFText Actions"
               path="additions">
               
         </menu>

      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page 
            class="org.reuseware.emftextedit.test.WorkbenchPropertyPage1"
            id="org.reuseware.emftextedit.test.page1"
            name="name">
      </page>
   </extension>

</plugin>
