<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.rolecore.interfaces.InterfacesPackage"
            genModel="metamodel/interfaces.genmodel"
            uri="http://www.emftext.org/language/rolecore/interfaces">
      </package>
	</extension>

</plugin>
