<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.sdk.ui.generateresourcecontributor"
            nameFilter="*.cs*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateResourcePluginAction"
               enablesFor="1"
               id="org.emftext.sdk.ui.actions.generateresourceaction"
               label="Generate Text Resource"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.emftext.ui.generatehutncontributor"
            nameFilter="*.genmodel*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.emftext.sdk.ui.actions.GenerateHUTNAction"
               enablesFor="1"
               id="org.emftext.ui.actions.generatehutnaction"
               label="Generate HUTN Syntax"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

   <extension
         point="org.emftext.runtime.default_load_options">
      <provider
            class="org.emftext.sdk.ui.SDKOptionProvider"
            id="org.emftext.sdk.ui.default_option_provider"
            csName="cs">
      </provider>
   </extension>
</plugin>
