<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.emftext.language.chess.resource.cg.default_load_options">
   <provider
          class="org.emftext.language.chess.MoveChecker"
          id="org.emftext.language.chess.MoveChecker">
   </provider>
   </extension>
	
</plugin>
