<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/javaBehavior4UML"
            class="org.emftext.language.java.javabehavior4uml.Javabehavior4umlPackage"
            genModel="metamodel/JavaBehavior4UML.genmodel"/>
   </extension>

</plugin>
