<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsUIMetaInformation" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="cs" icon="icons/editor_icon.gif" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsEditor" name="EMFText cs Editor">
			<contentTypeBinding contentTypeId="org.emftext.sdk.concretesyntax.resource.cs"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Cs Text Editor" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferencePage" class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsSyntaxColoringPreferencePage" class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsSyntaxColoringPreferencePage" category="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsBracketPreferencePage" class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsBracketPreferencePage" category="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsOccurrencePreferencePage" class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsOccurrencePreferencePage" category="org.emftext.sdk.concretesyntax.resource.cs.ui.CsPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsNewFileWizard" id="org.emftext.sdk.concretesyntax.resource.cs.ui.CsNewFileWizard" name="EMFText .cs file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsMarkerResolutionGenerator" markerType="org.emftext.sdk.concretesyntax.resource.cs.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.sdk.concretesyntax.resource.cs.ui.CsAnnotationModelFactory" extensions="cs" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.sdk.concretesyntax.resource.cs" name=".cs File" base-type="org.eclipse.core.runtime.text" file-extensions="cs"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="cs" id="org.emftext.sdk.concretesyntax.resource.cs.ui.provider" />
	</extension>
	
</plugin>
