<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.reuseware.org/simple_template"
            class="org.reuseware.emftextedit.language.simple_template.Simple_templatePackage"/>
   </extension>

</plugin>
