<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.escaping.resource.escaping.mopp.EscapingResourceFactory" type="escaping">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.escaping.resource.escaping.mopp.EscapingMetaInformation" id="org.emftext.test.escaping.resource.escaping.mopp.EscapingMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.escaping" name="EMFText escaping Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.escaping" file-extensions="escaping">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.test.escaping.resource.escaping.ui.EscapingEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.test.escaping.resource.escaping.ui.EscapingEditor" name="EMFText escaping Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.escaping" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.test.escaping.resource.escaping.ui.EscapingPreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.test.escaping.resource.escaping.ui.EscapingNewFileWizard" id="org.emftext.test.escaping.resource.escaping.ui.EscapingNewFileWizard" name="EMFText .escaping file">
		</wizard>
	</extension>
	
</plugin>
