<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresMetaInformation" id="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.grammar_features.resource.grammar_features.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.grammar_features.resource.grammar_features.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.grammar_features.resource.grammar_features.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.grammar_features.resource.grammar_features.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.grammar_features.resource.grammar_features.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.grammar_features.resource.grammar_features.nature" name="grammar_features nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresNature">
			</run>
		</runtime>
		<builder id="org.emftext.test.grammar_features.resource.grammar_features.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.test.grammar_features.resource.grammar_features.builder" name="grammar_features Builder">
		<builder hasNature="true">
			<run class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.test.grammar_features.resource.grammar_features.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.grammar_features.resource.grammar_features.mopp.Grammar_featuresResourceFactoryDelegator" type="grammar_features">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.test.grammar_features.resource.grammar_features.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
