<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.emftext.language.customsandwich.resource.customsandwich.default_load_options">
      <provider
            class="org.emftext.language.customsandwich.resource.util.CustomsandwichPostProcessor"
            id="org.emftext.language.customsandwich.resource.util.CustomsandwichPostProcessor">
      </provider>
   </extension>
   
</plugin>
