<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/test/bug1154"
            class="org.emftext.test.bug1154.Bug1154Package"
            genModel="metamodel/bug1154.genmodel"/>
   </extension>

</plugin>
