<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://emftext.org/office"
            class="org.emftext.language.office.OfficePackage"
            genModel="metamodel/office.genmodel"/>
   </extension>

</plugin>
