<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.bool.resource.bool.mopp.BoolMetaInformation" id="org.emftext.language.bool.resource.bool.mopp.BoolMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.bool.resource.bool.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.bool.resource.bool.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.bool.resource.bool.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.bool.resource.bool.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.bool.resource.bool.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.nature" name="bool nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.bool.resource.bool.mopp.BoolNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.bool.resource.bool.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.bool.resource.bool.builder" name="bool Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.bool.resource.bool.mopp.BoolBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.bool.resource.bool.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.bool.resource.bool.mopp.BoolResourceFactoryDelegator" type="bool">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.bool.resource.bool.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
