<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.facets.resource.facet_classification.mopp.Facet_classificationMetaInformation" id="org.emftext.language.facets.resource.facet_classification.mopp.Facet_classificationMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="facet_classification" icon="icons/editor_icon.gif" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationEditor" name="EMFText facet_classification Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Facet_classification Text Editor" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferencePage" class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationSyntaxColoringPreferencePage" class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationSyntaxColoringPreferencePage" category="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationBracketPreferencePage" class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationBracketPreferencePage" category="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationOccurrencePreferencePage" class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationOccurrencePreferencePage" category="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationNewFileWizard" id="org.emftext.language.facets.resource.facet_classification.ui.Facet_classificationNewFileWizard" name="EMFText .facet_classification file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.facets.resource.facet_classification.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.facets.resource.facet_classification.nature" name="facet_classification nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.facets.resource.facet_classification.mopp.Facet_classificationNature" />
		</runtime>
		<builder id="org.emftext.language.facets.resource.facet_classification.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.facets.resource.facet_classification.builder" name="facet_classification Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.facets.resource.facet_classification.mopp.Facet_classificationBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.facets.resource.facet_classification.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.facets.resource.facet_classification.mopp.Facet_classificationResourceFactoryDelegator" type="facet_classification">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.facets.resource.facet_classification.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
