<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.escaping.resource.escaping.mopp.EscapingMetaInformation" id="org.emftext.test.escaping.resource.escaping.mopp.EscapingMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.escaping.resource.escaping.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.escaping.resource.escaping.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.escaping.resource.escaping.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.escaping.resource.escaping.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.escaping.resource.escaping.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.escaping.resource.escaping.nature" name="escaping nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.test.escaping.resource.escaping.mopp.EscapingNature">
			</run>
		</runtime>
		<builder id="org.emftext.test.escaping.resource.escaping.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.test.escaping.resource.escaping.builder" name="escaping Builder">
		<builder hasNature="true">
			<run class="org.emftext.test.escaping.resource.escaping.mopp.EscapingBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.test.escaping.resource.escaping.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.escaping.resource.escaping.mopp.EscapingResourceFactoryDelegator" type="escaping">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.test.escaping.resource.escaping.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
