<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.resolving.resource.resolving.mopp.ResolvingMetaInformation" id="org.emftext.test.resolving.resource.resolving.mopp.ResolvingMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.resolving.resource.resolving.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.resolving.resource.resolving.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.resolving.resource.resolving.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.resolving.resource.resolving.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.resolving.resource.resolving.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.nature" name="resolving nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.test.resolving.resource.resolving.mopp.ResolvingNature">
			</run>
		</runtime>
		<builder id="org.emftext.test.resolving.resource.resolving.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.test.resolving.resource.resolving.builder" name="resolving Builder">
		<builder hasNature="true">
			<run class="org.emftext.test.resolving.resource.resolving.mopp.ResolvingBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.test.resolving.resource.resolving.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.resolving.resource.resolving.mopp.ResolvingResourceFactoryDelegator" type="resolving">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.test.resolving.resource.resolving.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.test.resolving.resource.resolving.debug.ResolvingLineBreakpoint" id="org.emftext.test.resolving.resource.resolving.debug.breakpoint" markerType="org.emftext.test.resolving.resource.resolving.debug.lineBreakpoint.marker" name="resolving Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.test.resolving.resource.resolving.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.test.resolving.resource.resolving.ui.launchConfigurationType" delegate="org.emftext.test.resolving.resource.resolving.launch.ResolvingLaunchConfigurationDelegate" modes="run,debug" name="resolving Application" sourceLocatorId="org.emftext.test.resolving.resource.resolving.ui.sourceLocator" sourcePathComputerId="org.emftext.test.resolving.resource.resolving.ui.sourcePathComputer" delegateName="resolving Launch Tooling" delegateDescription="This will run or debug .resolving files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.test.resolving.resource.resolving.debug.ResolvingSourcePathComputerDelegate" id="org.emftext.test.resolving.resource.resolving.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.test.resolving.resource.resolving.ui.sourceLocator" class="org.emftext.test.resolving.resource.resolving.debug.ResolvingSourceLocator" name="resolving Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
