<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.plugin.resource.topf.mopp.TopfMetaInformation" id="org.emftext.language.plugin.resource.topf.mopp.TopfMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.plugin.resource.topf.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.plugin.resource.topf.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.plugin.resource.topf.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.plugin.resource.topf.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.plugin.resource.topf.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.plugin.resource.topf.nature" name="topf nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.plugin.resource.topf.mopp.TopfNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.plugin.resource.topf.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.plugin.resource.topf.builder" name="topf Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.plugin.resource.topf.mopp.TopfBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.plugin.resource.topf.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.plugin.resource.topf.mopp.TopfResourceFactoryDelegator" type="topf">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.plugin.resource.topf.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
