<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.java.string.resource.stringjava.default_load_options">
      <provider
            class="org.emftext.language.java.string.resource.util.UnicodeConverterProvider"
            id="org.emftext.language.java.string.resource.util.UnicodeConverterProvider">
      </provider>
   </extension>
   <extension
         point="org.emftext.language.java.string.resource.stringjava.default_load_options">
      <provider
            class="org.emftext.language.java.string.resource.StringJavaCompiler"
            id="org.emftext.language.java.string.resource.StringJavaCompiler">
      </provider>
   </extension>
   <extension
         point="org.emftext.language.java.string.resource.stringjava.default_load_options">
      <provider
            class="org.emftext.language.java.string.resource.util.StringJavaPostProcessor"
            id="org.emftext.language.java.string.resource.util.StringJavaPostProcessor">
      </provider>
   </extension>

</plugin>
