<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.appflow.resource.appflow.default_load_options">
      <provider
            class="org.emftext.language.appflow.postprocessor.ocl.AppFlowOclWfrPostProcessor"
            id="org.emftext.language.appflow.postprocessor.ocl.AppFlowOclWfrPostProcessor"
            name="OCL WFR Post Processor">
      </provider>
   </extension>

</plugin>
