<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/reusejava"
            class="org.emftext.language.java.reusejava.ReusejavaPackage"
            genModel="metamodel/reusejava.genmodel"/>
   </extension>

   <extension
         point="org.reuseware.coconut.resource.fragmentStores">
      <mapping
            baseUFI="reuseware:/"
            folder="store/">
      </mapping>
      <compositionSystem
            file="store/reusejava/ReuseJava.csys">
      </compositionSystem>
      <reuseExtension
            file="store/reusejava/ReuseJava.rex">
      </reuseExtension>
      <fragmentfiles
            extension="java">
      </fragmentfiles>
      <fragmentfiles
            extension="reusejava">
      </fragmentfiles>
   </extension>
</plugin>
