<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.emfdoc.resource.emfdoc.mopp.EmfdocMetaInformation" id="org.emftext.language.emfdoc.resource.emfdoc.mopp.EmfdocMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.emfdoc.resource.emfdoc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.emfdoc.resource.emfdoc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.emfdoc.resource.emfdoc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.emfdoc.resource.emfdoc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.emfdoc.resource.emfdoc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.emfdoc.resource.emfdoc.nature" name="emfdoc nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.emfdoc.resource.emfdoc.mopp.EmfdocNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.emfdoc.resource.emfdoc.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.emfdoc.resource.emfdoc.builder" name="emfdoc Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.emfdoc.resource.emfdoc.mopp.EmfdocBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.emfdoc.resource.emfdoc.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.emfdoc.resource.emfdoc.mopp.EmfdocResourceFactoryDelegator" type="emfdoc">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.emfdoc.resource.emfdoc.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
