<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.simplemath.resource.sm.mopp.SmMetaInformation" id="org.emftext.language.simplemath.resource.sm.mopp.SmMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.simplemath.resource.sm.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.simplemath.resource.sm.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.simplemath.resource.sm.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.simplemath.resource.sm.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.simplemath.resource.sm.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.nature" name="sm nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.simplemath.resource.sm.mopp.SmNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.simplemath.resource.sm.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.simplemath.resource.sm.builder" name="sm Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.simplemath.resource.sm.mopp.SmBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.simplemath.resource.sm.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.simplemath.resource.sm.mopp.SmResourceFactoryDelegator" type="sm">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.simplemath.resource.sm.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.language.simplemath.resource.sm.debug.SmLineBreakpoint" id="org.emftext.language.simplemath.resource.sm.debug.breakpoint" markerType="org.emftext.language.simplemath.resource.sm.debug.lineBreakpoint.marker" name="sm Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.language.simplemath.resource.sm.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.language.simplemath.resource.sm.ui.launchConfigurationType" delegate="org.emftext.language.simplemath.resource.sm.launch.SmLaunchConfigurationDelegate" modes="run,debug" name="sm Application" sourceLocatorId="org.emftext.language.simplemath.resource.sm.ui.sourceLocator" sourcePathComputerId="org.emftext.language.simplemath.resource.sm.ui.sourcePathComputer" delegateName="sm Launch Tooling" delegateDescription="This will run or debug .sm files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.language.simplemath.resource.sm.debug.SmSourcePathComputerDelegate" id="org.emftext.language.simplemath.resource.sm.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.language.simplemath.resource.sm.ui.sourceLocator" class="org.emftext.language.simplemath.resource.sm.debug.SmSourceLocator" name="sm Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
