<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.calc.resource.calc.mopp.CalcMetaInformation" id="org.emftext.language.calc.resource.calc.mopp.CalcMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.calc.resource.calc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.calc.resource.calc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.calc.resource.calc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.calc.resource.calc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.calc.resource.calc.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.nature" name="calc nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.calc.resource.calc.mopp.CalcNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.calc.resource.calc.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.calc.resource.calc.builder" name="calc Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.calc.resource.calc.mopp.CalcBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.calc.resource.calc.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.calc.resource.calc.mopp.CalcResourceFactoryDelegator" type="calc">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.calc.resource.calc.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.language.calc.resource.calc.debug.CalcLineBreakpoint" id="org.emftext.language.calc.resource.calc.debug.breakpoint" markerType="org.emftext.language.calc.resource.calc.debug.lineBreakpoint.marker" name="calc Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.language.calc.resource.calc.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.language.calc.resource.calc.ui.launchConfigurationType" delegate="org.emftext.language.calc.resource.calc.launch.CalcLaunchConfigurationDelegate" modes="run,debug" name="calc Application" sourceLocatorId="org.emftext.language.calc.resource.calc.ui.sourceLocator" sourcePathComputerId="org.emftext.language.calc.resource.calc.ui.sourcePathComputer" delegateName="calc Launch Tooling" delegateDescription="This will run or debug .calc files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.language.calc.resource.calc.debug.CalcSourcePathComputerDelegate" id="org.emftext.language.calc.resource.calc.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.language.calc.resource.calc.ui.sourceLocator" class="org.emftext.language.calc.resource.calc.debug.CalcSourceLocator" name="calc Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
