<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.emfdoc.resource.emfdoc.default_load_options">
      <provider
            class="org.emftext.language.emfdoc.constraints.EMFDocOptionProvider"
            id="org.emftext.language.emfdoc.constraints.provider1">
      </provider>
   </extension>

</plugin>
