<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.models.resource.model.mopp.ModelMetaInformation" id="org.emftext.language.models.resource.model.mopp.ModelMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.models.resource.model.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.models.resource.model.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.models.resource.model.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.models.resource.model.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.models.resource.model.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.nature" name="model nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.models.resource.model.mopp.ModelNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.models.resource.model.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.models.resource.model.builder" name="model Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.models.resource.model.mopp.ModelBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.models.resource.model.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.models.resource.model.mopp.ModelResourceFactoryDelegator" type="model">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.models.resource.model.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
