<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.sumup.resource.sumup.mopp.SumupMetaInformation" id="org.emftext.language.sumup.resource.sumup.mopp.SumupMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.sumup.resource.sumup.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.sumup.resource.sumup.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.sumup.resource.sumup.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.sumup.resource.sumup.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.sumup.resource.sumup.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.sumup.resource.sumup.nature" name="sumup nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.sumup.resource.sumup.mopp.SumupNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.sumup.resource.sumup.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.sumup.resource.sumup.builder" name="sumup Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.sumup.resource.sumup.mopp.SumupBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.sumup.resource.sumup.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.sumup.resource.sumup.mopp.SumupResourceFactoryDelegator" type="sumup">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.sumup.resource.sumup.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
