<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.classes.ClassesPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/classes">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.common.CommonPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/common">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.expressions.ExpressionsPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/expressions">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.modifiers.ModifiersPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/modifiers">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.namespaces.NamespacesPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/namespaces">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.statements.StatementsPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/statements">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.types.TypesPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/types">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.keywords.KeywordsPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/keywords">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.operators.OperatorsPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/operators">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.literals.LiteralsPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/literals">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.attributes.AttributesPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/attributes">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.arrays.ArraysPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.emftext.org/c_sharp/arrays">
      </package>
   </extension>

</plugin>
