<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.emftext.language.java.ejava.resource.ejava.default_load_options">
      <provider
            class="org.emftext.language.java.ejava.resource.EJavaPostProcessor"
            id="org.emftext.language.java.ejava.resource.EJavaPostProcessor">
      </provider>
   </extension>

   <extension
         point="org.emftext.language.java.ejava.resource.ejava.default_load_options">
      <provider
            class="org.emftext.language.java.ejava.resource.util.UnicodeConverterProvider"
            id="org.emftext.language.java.ejava.resource.util.UnicodeConverterProvider">
      </provider>
   </extension>
   
   <extension
         point="org.emftext.language.java.ejava.resource.ejava.default_load_options">
      <provider
            class="org.emftext.language.java.ejava.resource.util.EJavaPostProcessor"
            id="org.emftext.language.java.ejava.resource.util.EJavaPostProcessor">
      </provider>
   </extension>
   
   <extension
         point="org.emftext.language.java.ejava.resource.ejava.additional_extension_parser">
      <parser
            class="org.emftext.language.java.ejava.resource.ExtendedEjavaResourceFactory">
      </parser>
   </extension>   
</plugin>
