<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.printing.modellayout.resource.modellayout.mopp.ModellayoutMetaInformation" id="org.emftext.test.printing.modellayout.resource.modellayout.mopp.ModellayoutMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.test.printing.modellayout.resource.modellayout.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.nature" name="modellayout nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.test.printing.modellayout.resource.modellayout.mopp.ModellayoutNature">
			</run>
		</runtime>
		<builder id="org.emftext.test.printing.modellayout.resource.modellayout.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.test.printing.modellayout.resource.modellayout.builder" name="modellayout Builder">
		<builder hasNature="true">
			<run class="org.emftext.test.printing.modellayout.resource.modellayout.mopp.ModellayoutBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.test.printing.modellayout.resource.modellayout.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.printing.modellayout.resource.modellayout.mopp.ModellayoutResourceFactoryDelegator" type="modellayout">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.test.printing.modellayout.resource.modellayout.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.emftext.test.printing.modellayout.resource.modellayout.debug.ModellayoutLineBreakpoint" id="org.emftext.test.printing.modellayout.resource.modellayout.debug.breakpoint" markerType="org.emftext.test.printing.modellayout.resource.modellayout.debug.lineBreakpoint.marker" name="modellayout Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.emftext.test.printing.modellayout.resource.modellayout.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.emftext.test.printing.modellayout.resource.modellayout.ui.launchConfigurationType" delegate="org.emftext.test.printing.modellayout.resource.modellayout.launch.ModellayoutLaunchConfigurationDelegate" modes="run,debug" name="modellayout Application" sourceLocatorId="org.emftext.test.printing.modellayout.resource.modellayout.ui.sourceLocator" sourcePathComputerId="org.emftext.test.printing.modellayout.resource.modellayout.ui.sourcePathComputer" delegateName="modellayout Launch Tooling" delegateDescription="This will run or debug .modellayout files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.emftext.test.printing.modellayout.resource.modellayout.debug.ModellayoutSourcePathComputerDelegate" id="org.emftext.test.printing.modellayout.resource.modellayout.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.emftext.test.printing.modellayout.resource.modellayout.ui.sourceLocator" class="org.emftext.test.printing.modellayout.resource.modellayout.debug.ModellayoutSourceLocator" name="modellayout Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
