<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.efactory.resource.efactory.default_load_options">
      <provider
            class="org.emftext.language.efactory.resource.efactory.post_processing.EFactoryPostProcessor"
            id="org.emftext.language.efactory.resource.efactory.post_processing.provider">
      </provider>
   </extension>

</plugin>
