<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/petrinet_tgg_rule"
            class="org.emftext.language.petrinet.petrinet_tgg_rule.Tgg_rulePackage"
            genModel="metamodel/petrinet_tgg_rule.genmodel"/>
   </extension>

</plugin>
