<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.formsextension.resource.formsextension.mopp.FormsextensionMetaInformation" id="org.emftext.language.formsextension.resource.formsextension.mopp.FormsextensionMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.formsextension.resource.formsextension.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.formsextension.resource.formsextension.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.formsextension.resource.formsextension.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.formsextension.resource.formsextension.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.formsextension.resource.formsextension.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.formsextension.resource.formsextension.nature" name="formsextension nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.formsextension.resource.formsextension.mopp.FormsextensionNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.formsextension.resource.formsextension.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.formsextension.resource.formsextension.builder" name="formsextension Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.formsextension.resource.formsextension.mopp.FormsextensionBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.formsextension.resource.formsextension.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.formsextension.resource.formsextension.mopp.FormsextensionResourceFactoryDelegator" type="formsextension">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.formsextension.resource.formsextension.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
