<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.emftext.sdk.concretesyntax.resource.cs.CsResourceFactory"
            type="cs">
      </parser>
   </extension>

   <extension
         point="org.emftext.runtime.concretesyntax">
      <concretesyntax
            uri="http://www.emftext.org/sdk/concretesyntax"
            csName="cs"
            csDefinition="org.emftext.sdk.concretesyntax/metamodel/concretesyntax.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.emftext.filetype"
            file-extensions="cs">
      </file-association>
   </extension>

</plugin>
