<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.sdk.concretesyntax.resource.cs.CsResourceFactory" type="cs">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.syntax">
		<metaInformationProvider class="org.emftext.sdk.concretesyntax.resource.cs.CsMetaInformation" id="org.emftext.sdk.concretesyntax.resource.cs.CsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="cs">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.sdk.concretesyntax.resource.cs.CsNewFileWizard" id="org.emftext.sdk.concretesyntax.resource.cs.CsNewFileWizard" name="EMFText .cs file">
		</wizard>
	</extension>
	
</plugin>
