<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.sdk.concretesyntax.resource.cs.mopp.CsMetaInformation" id="org.emftext.sdk.concretesyntax.resource.cs.mopp.CsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.sdk.concretesyntax.resource.cs.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.sdk.concretesyntax.resource.cs.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.sdk.concretesyntax.resource.cs.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.sdk.concretesyntax.resource.cs.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.sdk.concretesyntax.resource.cs.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.sdk.concretesyntax.resource.cs.nature" name="cs nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.sdk.concretesyntax.resource.cs.mopp.CsNature">
			</run>
		</runtime>
	</extension>
	
	<extension-point id="org.emftext.sdk.concretesyntax.resource.cs.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.sdk.concretesyntax.resource.cs.mopp.CsResourceFactoryDelegator" type="cs">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.sdk.concretesyntax.resource.cs.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
