<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.test.cct2.resource.cct2.mopp.Cct2ResourceFactory" type="cct2">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.test.cct2.resource.cct2.mopp.Cct2TextResourcePluginMetaInformation" id="org.emftext.test.cct2.resource.cct2.mopp.Cct2TextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.cct2" name="EMFText cct2 Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.cct2" file-extensions="cct2">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.test.cct2.resource.cct2.ui.Cct2Editor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.test.cct2.resource.cct2.ui.Cct2Editor" name="EMFText cct2 Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.cct2" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.test.cct2.resource.cct2.ui.Cct2PreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.test.cct2.resource.cct2.ui.Cct2NewFileWizard" id="org.emftext.test.cct2.resource.cct2.ui.Cct2NewFileWizard" name="EMFText .cct2 file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.test.cct2.resource.cct2.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
