<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cct5 -->
      <package
            uri="http://www.emftext.org/language/cct5"
            class="org.emftext.test.cct5.Cct5Package"
            genModel="metamodel/cct5.genmodel"/>
   </extension>

</plugin>
