<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.googlecode.com/efactory/EFactory"
            class="org.emftext.language.efactory.EfactoryPackage"
            genModel="metamodel/efactory.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">

    <category
    	id="org.emftext.language.efactory.category1"
        name="name">
	</category>
      
    <constraintProvider
            cache="true"
            mode="Batch"
	>
         <package
               namespaceUri="http://www.googlecode.com/efactory/EFactory">
         </package>
         
         <constraints categories="org.emftext.language.efactory.category1">
            <constraint
                  class="org.emftext.language.efactory.validation.UniqueNamesConstraint"
                  id="org.emftext.language.efactory.constraint1"
                  lang="Java"
                  mode="Batch"
                  name="name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

	<extension point="org.eclipse.emf.validation.constraintBindings">
    <clientContext
          default="false"
          id="org.emftext.language.efactory.validation.clientContext1">
        <enablement>
        </enablement>
    	<!--<selector
			class="org.emftext.language.efactory.validation.UniqueNamesConstraint">
		</selector>-->
	</clientContext>
    <binding
          category="org.emftext.language.efactory.category1"
          context="org.emftext.language.efactory.validation.clientContext1">
    </binding>
	</extension>

</plugin>
