<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.emftext.language.java.property.java2property"
         name="Java 2 Property"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.emftext.language.java.properties.java2dsl.qvto.QVTOJavaToPropertyBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.emftext.language.java.property.property2java"
         name="Property 2 Java"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false">
         <run
               class="org.emftext.language.java.properties.java2dsl.qvto.QVTOPropertyToJavaBuilder">
         </run>
      </builder>
   </extension>

</plugin>
