<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.timedautomata.resource.ta.mopp.TaMetaInformation" id="org.emftext.language.timedautomata.resource.ta.mopp.TaMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.timedautomata.resource.ta.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.timedautomata.resource.ta.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.timedautomata.resource.ta.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.timedautomata.resource.ta.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.timedautomata.resource.ta.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.timedautomata.resource.ta.nature" name="ta nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.timedautomata.resource.ta.mopp.TaNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.timedautomata.resource.ta.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.timedautomata.resource.ta.builder" name="ta Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.timedautomata.resource.ta.mopp.TaBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.timedautomata.resource.ta.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.timedautomata.resource.ta.mopp.TaResourceFactoryDelegator" type="ta">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.timedautomata.resource.ta.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
