<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.reuseware.emftextedit.concretesyntax.resource.cs.CsResourceFactoryImpl"
            type="cs">
      </parser>
   </extension>

   <extension
         point="org.reuseware.emftextedit.concretesyntax">
      <concretesyntax
            uri="http://www.reuseware.org/emftextedit/concretesyntax"
            csName="cs"
            csDefinition="model/cs.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.reuseware.emftextedit.filetype"
            file-extensions="cs">
      </file-association>
   </extension>

	<extension
			point="org.eclipse.ui.popupMenus">
		<objectContribution
				id="org.reuseware.emftextedit.cs.contributions"
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.cs">
			<action
					class="org.reuseware.emftextedit.test.actions.ValidateParserPrinterAction"
					enablesFor="1"
					id="org.reuseware.emftextedit.cs.validate"
					label="Validate"
					menubarPath="org.reuseware.emftextedit.test.menu1/group1">
			</action>
		</objectContribution>
	</extension>
</plugin>
