<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/pl0"
            class="org.emftext.language.pl0.PL0Package"
            genModel="metamodel/pl0.genmodel"/>
   </extension>

</plugin>
