<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.emftext.sdk.ant.GenerateTextResourceTask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.GenerateTextResource">
      </antTask>
      <antTask
            class="org.emftext.sdk.ant.ConvertResourceTask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.ConvertResource">
      </antTask>
      <antTask
            class="org.emftext.sdk.ant.CreateURITask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.CreateURI">
      </antTask>
      <antTask
            class="org.emftext.sdk.ant.RegisterEcoreResourceFactoryTask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.RegisterEcoreResourceFactory">
      </antTask>
      <antTask
            class="org.emftext.sdk.ant.RegisterURIMappingTask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.RegisterURIMapping">
      </antTask>
      <antTask
            class="org.emftext.sdk.ant.RemoveURIMappingTask"
            library="ant_tasks/ant-tasks.jar"
            name="emftext.RemoveURIMapping">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant_tasks/ant-tasks.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
